<!DOCTYPE html>
<html>
  <head lang="en">
    <meta charset="UTF-8">
    <title>Ansible Inventory Search Engine</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- styles -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bower_components/bootstrap/dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>
    <div class="container">
      <h1>Ansible Inventory Search Engine</h1>
      <br>
      <div id="main"></div>
    </div>
    <!-- scripts -->
    <script src="{{ url_for('static', filename='bower_components/react/react.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/react/react-dom.min.js') }}"></script>
    {% if variables is defined %}
    <div class="container">
	    <h2>Application: {{ application }}</h2>
	    <table class="table table-hover table-responsive">
            <thead>
	    <tr>
            <th scope="col-sm-2">Host</th>
	    <th scope="col-sm-2">Parametr</th>
	    <th scope="col-sm-8">Wartość</th>
            <th scope="col-sm-2">Opis</th>
	    </tr>
	    </thead>
	    <tbody>
	    {% for host, parameters in variables._meta.hostvars.items() %}
	      {% for parameter, value in parameters.items() %}
	      <tr scope="row">
	      <td>{{ host }}</td>
	      <td>{{ parameter }}</td>
	      <td>{{ value }}</td>
	      <td>Lorem Ipsum</td>
	      </tr>
	      {% endfor %}
	    {% endfor %}
	    </tbody>
	    </table>
    </div>
    {% endif %}
  </body>
</html>
